<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:shanidul1999@gmail.com">shanidul1999@gmail.com</a>
        *@
        @*<cutom-email my-email="shanidul1999@gmail.com"></cutom-email>*@
    </div>
</footer>